################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CBTLPR2-.slnx/FileContentIndex
/.vs
